**/db
**/incremental_db
**/output_files
**/simulation
**/*.bak*
**/*.qpf*
**/*.qws
**/*.qsf
**/*.rpt
**/*.zip
**/.venv
**/*.docx
**/*.pptx
**/images
S3/Maths/m3_interpolation_and_regression_praval.pdf
S3/NSS/team_50_NSS_farm_work_praval_mayank_abhishek_venkatesh_lalithaditya.pdf
S3/NSS/team_50_NSS_farm_work.docx
S5/Image_Processing/reports/~$ip_skew_correction.pptx