**/db
**/incremental_db
**/output_files
**/simulation
**/*.bak*
**/*.qpf*
**/*.qws
**/*.qsf
**/*.rpt
**/*.zip
**/*.exe
**/.venv
**/*.docx
**/*.pptx
**/images
S3/Maths/m3_interpolation_and_regression_praval.pdf
S3/NSS/team_50_NSS_farm_work_praval_mayank_abhishek_venkatesh_lalithaditya.pdf
S3/NSS/team_50_NSS_farm_work.docx
S5/Image_Processing/reports/~$ip_skew_correction.pptx
S6/ML_lab/Praval Loves Geetha but wont talk to her🤦‍♂️
S6/Compiler/LEX/lex.yy.c
S6/Compiler/LEX_exercise/lex.yy.c
S6/Software_Engineering/old_stakeholder_interview.mp4
S6/Software_Engineering/stakeholder_interview_se_assignment.mp4
S6/POM/B220057CS_PRAVAL.mkv
S6/POM/B220489CS_RAMIREDDY.mp4
S6/POM/converted_pdfs/
S6/POM/downloaded_images/
S6/Computer_Networks/redhat/
S6/Computer_Networks/ubuntu/
