/****** Object:  Database [PravalDB]    Script Date: 03-12-2024 08:20:59 PM ******/
CREATE DATABASE [PravalDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[CATALOGUE]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGUE](
	[DRUG_CODE] [varchar](10) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PRICE] [money] NOT NULL,
	[IMAGE_URL] [varchar](50) NULL,
 CONSTRAINT [PK_CATALOGUE] PRIMARY KEY CLUSTERED 
(
	[DRUG_CODE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[ADDRESS] [varchar](100) NULL,
	[PHONE] [varchar](50) NULL,
	[IMAGE_URL] [varchar](50) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRUGS]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRUGS](
	[CODE] [varchar](10) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[TYPE] [varchar](10) NULL,
	[BARCODE] [varchar](10) NULL,
	[DOSE] [varchar](10) NULL,
	[COST_PRICE] [money] NOT NULL,
	[SELL_PRICE] [money] NOT NULL,
	[EXPIRY] [date] NULL,
	[COMPANY_ID] [int] NOT NULL,
	[PRODUCTION_DATE] [date] NOT NULL,
	[EXPIRATION_DATE] [date] NULL,
	[PLACE] [varchar](50) NULL,
	[QUANTITY] [int] NOT NULL,
	[IMAGE_URL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DRUGS] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPIRY]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPIRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRUG_CODE] [varchar](10) NOT NULL,
	[DRUG_NAME] [varchar](50) NOT NULL,
	[QUANTITY_REMAIN] [int] NULL,
	[DATE_OF_EXPIRY] [date] NULL,
 CONSTRAINT [PK_EXPIRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY_SALES]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_SALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SALES_ID] [int] NOT NULL,
	[DRUG_CODE] [varchar](10) NOT NULL,
	[BARCODE] [varchar](10) NULL,
	[DOSE] [varchar](10) NULL,
	[TYPE] [varchar](10) NULL,
	[PRICE] [money] NOT NULL,
	[AMOUNT] [int] NULL,
	[DATE] [date] NOT NULL,
	[TIME] [datetime] NULL,
	[QUANTITY] [int] NOT NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_HISTORY_SALES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[TYPE] [varchar](50) NULL,
	[DATE] [date] NOT NULL,
	[TIME] [datetime] NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[DRUG_CODE] [varchar](10) NULL,
	[BARCODE] [varchar](10) NULL,
	[TYPE] [varchar](10) NULL,
	[PRICE] [money] NULL,
	[AMOUNT] [int] NULL,
	[NAME] [varchar](10) NULL,
	[QUANTITY] [int] NULL,
	[DATE] [date] NULL,
 CONSTRAINT [PK_PURCHASE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRUG_CODE] [varchar](10) NOT NULL,
	[BARCODE] [varchar](10) NULL,
	[DOSE] [varchar](10) NULL,
	[TYPE] [varchar](10) NULL,
	[PRICE] [money] NOT NULL,
	[AMOUNT] [int] NULL,
	[QUANTITY] [int] NOT NULL,
	[DATE] [date] NOT NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_SALES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 03-12-2024 08:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DOB] [date] NULL,
	[PHONE] [varchar](50) NULL,
	[ADDRESS] [varchar](100) NULL,
	[SALARY] [money] NULL,
	[ROLE] [varchar](10) NOT NULL,
	[USERNAME] [varchar](10) NULL,
	[PASSWORD] [varchar](10) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATALOGUE] ([DRUG_CODE], [NAME], [PRICE], [IMAGE_URL]) VALUES (N'ACCUCHECK', N'Accu-Chek Active Glucose Monitor', 1007.1600, N'accu_chek.jpg')
INSERT [dbo].[CATALOGUE] ([DRUG_CODE], [NAME], [PRICE], [IMAGE_URL]) VALUES (N'ACCUSURE', N'AccuSure Pulse Oximeter', 1999.5000, N'accusure.jpg')
INSERT [dbo].[CATALOGUE] ([DRUG_CODE], [NAME], [PRICE], [IMAGE_URL]) VALUES (N'AMLAJUS', N'Kapiva Wild Amla Juice 1 ltr', 249.0700, N'amla_juice.jpg')
GO
SET IDENTITY_INSERT [dbo].[COMPANY] ON 

INSERT [dbo].[COMPANY] ([ID], [NAME], [ADDRESS], [PHONE], [IMAGE_URL]) VALUES (1, N'Sun Pharmaceuticals', NULL, NULL, N'sun_pharma.jpg')
INSERT [dbo].[COMPANY] ([ID], [NAME], [ADDRESS], [PHONE], [IMAGE_URL]) VALUES (2, N'Cipla', NULL, NULL, N'cipla.jpg')
INSERT [dbo].[COMPANY] ([ID], [NAME], [ADDRESS], [PHONE], [IMAGE_URL]) VALUES (3, N'Torrent Pharmaceuticals', NULL, NULL, N'torrent.jpg')
SET IDENTITY_INSERT [dbo].[COMPANY] OFF
GO
INSERT [dbo].[DRUGS] ([CODE], [NAME], [TYPE], [BARCODE], [DOSE], [COST_PRICE], [SELL_PRICE], [EXPIRY], [COMPANY_ID], [PRODUCTION_DATE], [EXPIRATION_DATE], [PLACE], [QUANTITY], [IMAGE_URL]) VALUES (N'ACCUCHECK', N'Accu-Chek Active Glucose Monitor', NULL, NULL, NULL, 1007.1600, 1007.1600, NULL, 1, CAST(N'2024-01-01' AS Date), CAST(N'2026-01-01' AS Date), NULL, 21, N'accu_chek.jpg')
INSERT [dbo].[DRUGS] ([CODE], [NAME], [TYPE], [BARCODE], [DOSE], [COST_PRICE], [SELL_PRICE], [EXPIRY], [COMPANY_ID], [PRODUCTION_DATE], [EXPIRATION_DATE], [PLACE], [QUANTITY], [IMAGE_URL]) VALUES (N'ACCUSURE', N'AccuSure Pulse Oximeter', NULL, NULL, NULL, 1999.5000, 1999.5000, NULL, 4, CAST(N'2024-11-09' AS Date), CAST(N'2025-11-09' AS Date), NULL, 7, N'accusure.jpg')
INSERT [dbo].[DRUGS] ([CODE], [NAME], [TYPE], [BARCODE], [DOSE], [COST_PRICE], [SELL_PRICE], [EXPIRY], [COMPANY_ID], [PRODUCTION_DATE], [EXPIRATION_DATE], [PLACE], [QUANTITY], [IMAGE_URL]) VALUES (N'DIGENE', N'Digene Acidity & Gas Relief Tablets', NULL, NULL, NULL, 22.5700, 22.5700, NULL, 2, CAST(N'2024-11-09' AS Date), CAST(N'2025-11-09' AS Date), NULL, 1, N'digene_acidity.jpg')
GO
SET IDENTITY_INSERT [dbo].[HISTORY_SALES] ON 

INSERT [dbo].[HISTORY_SALES] ([ID], [SALES_ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [DATE], [TIME], [QUANTITY], [USER_ID]) VALUES (2, 2, N'DIGENE', NULL, NULL, NULL, 22.5700, NULL, CAST(N'2024-11-09' AS Date), NULL, 25, NULL)
INSERT [dbo].[HISTORY_SALES] ([ID], [SALES_ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [DATE], [TIME], [QUANTITY], [USER_ID]) VALUES (3, 3, N'ACCUCHECK', NULL, NULL, NULL, 1007.1600, NULL, CAST(N'2024-11-09' AS Date), NULL, 22, NULL)
INSERT [dbo].[HISTORY_SALES] ([ID], [SALES_ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [DATE], [TIME], [QUANTITY], [USER_ID]) VALUES (4, 4, N'OMRAN', NULL, NULL, NULL, 1792.8000, NULL, CAST(N'2024-11-09' AS Date), NULL, 10, NULL)
SET IDENTITY_INSERT [dbo].[HISTORY_SALES] OFF
GO
SET IDENTITY_INSERT [dbo].[PURCHASE] ON 

INSERT [dbo].[PURCHASE] ([ID], [COMPANY_ID], [DRUG_CODE], [BARCODE], [TYPE], [PRICE], [AMOUNT], [NAME], [QUANTITY], [DATE]) VALUES (4, 2, N'DIGENE', NULL, NULL, 22.5700, NULL, NULL, 25, CAST(N'2024-11-09' AS Date))
INSERT [dbo].[PURCHASE] ([ID], [COMPANY_ID], [DRUG_CODE], [BARCODE], [TYPE], [PRICE], [AMOUNT], [NAME], [QUANTITY], [DATE]) VALUES (5, 2, N'DIGENE', NULL, NULL, 22.5700, NULL, NULL, 25, CAST(N'2024-11-09' AS Date))
INSERT [dbo].[PURCHASE] ([ID], [COMPANY_ID], [DRUG_CODE], [BARCODE], [TYPE], [PRICE], [AMOUNT], [NAME], [QUANTITY], [DATE]) VALUES (6, 2, N'DIGENE', NULL, NULL, 22.5700, NULL, NULL, 25, CAST(N'2024-11-09' AS Date))
SET IDENTITY_INSERT [dbo].[PURCHASE] OFF
GO
SET IDENTITY_INSERT [dbo].[SALES] ON 

INSERT [dbo].[SALES] ([ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [QUANTITY], [DATE], [USER_ID]) VALUES (2, N'DIGENE', NULL, NULL, NULL, 22.5700, NULL, 25, CAST(N'2024-11-09' AS Date), NULL)
INSERT [dbo].[SALES] ([ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [QUANTITY], [DATE], [USER_ID]) VALUES (3, N'ACCUCHECK', NULL, NULL, NULL, 1007.1600, NULL, 22, CAST(N'2024-11-09' AS Date), NULL)
INSERT [dbo].[SALES] ([ID], [DRUG_CODE], [BARCODE], [DOSE], [TYPE], [PRICE], [AMOUNT], [QUANTITY], [DATE], [USER_ID]) VALUES (4, N'OMRAN', NULL, NULL, NULL, 1792.8000, NULL, 10, CAST(N'2024-11-09' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[SALES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [NAME], [DOB], [PHONE], [ADDRESS], [SALARY], [ROLE], [USERNAME], [PASSWORD]) VALUES (2, N'Praval Pattam', NULL, NULL, NULL, NULL, N'Admin', N'praval', N'pms@123')
INSERT [dbo].[USERS] ([ID], [NAME], [DOB], [PHONE], [ADDRESS], [SALARY], [ROLE], [USERNAME], [PASSWORD]) VALUES (3, N'Pranav Sai Sarvepalli', NULL, NULL, NULL, NULL, N'Employee', N'pranav', N'pms@123')
INSERT [dbo].[USERS] ([ID], [NAME], [DOB], [PHONE], [ADDRESS], [SALARY], [ROLE], [USERNAME], [PASSWORD]) VALUES (4, N'Theenesh Potluri', NULL, NULL, NULL, NULL, N'Employee', N'theenesh', N'pms@123')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[DRUGS]  WITH CHECK ADD  CONSTRAINT [FK_DRUGS_CATALOGUE] FOREIGN KEY([CODE])
REFERENCES [dbo].[CATALOGUE] ([DRUG_CODE])
GO
ALTER TABLE [dbo].[DRUGS] CHECK CONSTRAINT [FK_DRUGS_CATALOGUE]
GO
ALTER TABLE [dbo].[DRUGS]  WITH CHECK ADD  CONSTRAINT [FK_DRUGS_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[DRUGS] CHECK CONSTRAINT [FK_DRUGS_COMPANY]
GO
ALTER TABLE [dbo].[EXPIRY]  WITH CHECK ADD  CONSTRAINT [FK_EXPIRY_DRUGS] FOREIGN KEY([DRUG_CODE])
REFERENCES [dbo].[DRUGS] ([CODE])
GO
ALTER TABLE [dbo].[EXPIRY] CHECK CONSTRAINT [FK_EXPIRY_DRUGS]
GO
ALTER TABLE [dbo].[HISTORY_SALES]  WITH CHECK ADD  CONSTRAINT [FK_HISTORY_SALES_DRUGS] FOREIGN KEY([DRUG_CODE])
REFERENCES [dbo].[DRUGS] ([CODE])
GO
ALTER TABLE [dbo].[HISTORY_SALES] CHECK CONSTRAINT [FK_HISTORY_SALES_DRUGS]
GO
ALTER TABLE [dbo].[HISTORY_SALES]  WITH CHECK ADD  CONSTRAINT [FK_HISTORY_SALES_SALES] FOREIGN KEY([SALES_ID])
REFERENCES [dbo].[SALES] ([ID])
GO
ALTER TABLE [dbo].[HISTORY_SALES] CHECK CONSTRAINT [FK_HISTORY_SALES_SALES]
GO
ALTER TABLE [dbo].[HISTORY_SALES]  WITH CHECK ADD  CONSTRAINT [FK_HISTORY_SALES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HISTORY_SALES] CHECK CONSTRAINT [FK_HISTORY_SALES_USERS]
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK_LOGIN_USERS]
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE] CHECK CONSTRAINT [FK_PURCHASE_COMPANY]
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_DRUGS] FOREIGN KEY([DRUG_CODE])
REFERENCES [dbo].[DRUGS] ([CODE])
GO
ALTER TABLE [dbo].[PURCHASE] CHECK CONSTRAINT [FK_PURCHASE_DRUGS]
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_DRUGS] FOREIGN KEY([DRUG_CODE])
REFERENCES [dbo].[DRUGS] ([CODE])
GO
ALTER TABLE [dbo].[SALES] CHECK CONSTRAINT [FK_SALES_DRUGS]
GO
ALTER TABLE [dbo].[SALES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[SALES] CHECK CONSTRAINT [FK_SALES_USERS]
GO
