{% extends 'layout.html' %}

{% block title %}Companies{% endblock %}

{% block maincontent %}
<div class="bg-gray-100 p-4">
  <div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold text-center mb-8 flex">
        <i class="fas fa-building text-green-500 mr-2"></i>Companies        
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {% for company in companies %}
        <div class="bg-white p-6 rounded-lg shadow-lg border border-black flex text-center items-center justify-center">
            <img src="static/company/{{ company.image_url }}" alt="{{ company.name }}" class="w-64 h-32 mb-4 rounded-lg">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
